<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Novo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nome do Evento</ion-label>
    <ion-input [(ngModel)]="nomeEvento"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="criarEvento()">Criar Evento</ion-button>

  <ion-list>
    <ion-item *ngFor="let evento of eventos; let i = index">
      {{ evento.nome }}
      <ion-button slot="end" (click)="editarEvento(i)">Editar</ion-button>
      <ion-button slot="end" (click)="excluirEvento(i)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
