<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Bem-vindo à Festa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      Sugestões de Compra
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/orcamentod">Montar Orçamento</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Planejamento
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/perfil">cadastro</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Adicione mais cartões conforme necessário para outras funcionalidades -->
</ion-content>