@import '~bootstrap-icons/font/bootstrap-icons.css';

ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
}

ion-item {
    
    cursor:  pointer;
}

ion-toolbar {
    --background: var(--ion-color-roxo);
    /* roxo */
    color:#ffffff;
    /* branco */
  }