/* Adicione estas regras ao seu arquivo de estilo (por exemplo, styles.scss) */

.star-rating ion-icon {
  font-size: 2.5em; /* Ajuste o tamanho conforme necessário */
  color: #000; /* Cor padrão das estrelas */
}

.star-rating ion-icon.active {
  color: #9000ff; /* Cor das estrelas ativas, ajuste conforme necessário */
}
