<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>feedback</ion-title>

 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Comentários</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Classificação</ion-label>
      <ion-select>
        <ion-select-option value="1">1 estrela  </ion-select-option>
        <ion-select-option value="2">2 estrelas </ion-select-option>
        <ion-select-option value="3">3 estrelas </ion-select-option>
        <ion-select-option value="4">4 estrelas </ion-select-option>
        <ion-select-option value="5">5 estrelas </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>