<!-- src/app/pagina/perfil/perfil.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Seção de Foto de Perfil -->
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="fotoPerfil || 'assets/img/default-profile-pic.jpg'">
    </ion-avatar>
    <ion-label>
      <h2>Foto de Perfil</h2>
      <!-- REMOVIDO: <p (click)="changeProfilePicture()">Trocar Foto</p> -->
    </ion-label>
  </ion-item>

  <!-- Seção de Email -->
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input [(ngModel)]="userEmail"></ion-input>
    <ion-button size="small" (click)="changeEmail()">Trocar Email</ion-button>
  </ion-item>

  <!-- Seção de Senha -->
  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input type="password" [(ngModel)]="userPassword"></ion-input>
    <ion-button size="small" (click)="changePassword()">Trocar Senha</ion-button>
  </ion-item>

  <!-- Opção "Esqueci a Senha" -->
  <ion-item (click)="forgotPassword()">
    <ion-label>Esqueci a Senha</ion-label>
  </ion-item>

</ion-content>
