<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Seção de Informações Pessoais -->
    <ion-card color="light">
      <ion-card-header>
        <ion-title class="ion-text-dark">Informações Pessoais</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="ion-text-dark">Nome:</ion-label>
          <ion-input placeholder="Digite seu nome completo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-dark">CPF:</ion-label>
          <ion-input placeholder="Digite seu CPF" maxlength="14" type="tel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-dark">Email:</ion-label>
          <ion-input type="email" placeholder="Digite seu email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-dark">Senha:</ion-label>
          <ion-input type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-dark">Nível:</ion-label>
          <ion-input placeholder="Digite seu nível"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Seção de Foto de Perfil -->
    <ion-card color="light">
      <ion-card-header>
        <ion-title class="ion-text-dark">Foto de Perfil</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar>
            <ion-icon name="person-sharp" class="avatar-icon"></ion-icon>
          </ion-avatar>
          <ion-label class="ion-text-dark">Escolher Foto:</ion-label>
          <ion-button color="secondary" (click)="selecionarFoto()">Escolher</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Botão Entrar -->
    <ion-button expand="full" color="success" (click)="entrar()">Entrar</ion-button>
  </div>
</ion-content>
