<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Seção de Informações Pessoais -->
    <ion-card color="">
      <ion-card-header>
        <ion-title>Informações Pessoais</ion-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Nome:</ion-label>
          <ion-text>{{ perfil.nome }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Nome:</ion-label>
          <ion-input type="text" [(ngModel)]="perfil.nome"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Email:</ion-label>
          <ion-text>{{ perfil.email }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Email:</ion-label>
          <ion-input type="email" [(ngModel)]="perfil.email"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Telefone:</ion-label>
          <ion-text>{{ perfil.telefone }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Telefone:</ion-label>
          <ion-input type="tel" [(ngModel)]="perfil.telefone"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Data de Nascimento:</ion-label>
          <ion-text>{{ perfil.dataNascimento }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Data de Nascimento:</ion-label>
          <ion-input type="date" [(ngModel)]="perfil.dataNascimento"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Endereço:</ion-label>
          <ion-text>{{ perfil.endereco }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Endereço:</ion-label>
          <ion-input type="text" [(ngModel)]="perfil.endereco"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editing">
          <ion-label class="ion-text-dark">Descrição:</ion-label>
          <ion-text>{{ perfil.descricao }}</ion-text>
        </ion-item>
        <ion-item *ngIf="editing">
          <ion-label class="ion-text-dark">Descrição:</ion-label>
          <ion-textarea [(ngModel)]="perfil.descricao"></ion-textarea>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <!-- Botão Editar Perfil -->
    <div class="ion-text-center">
      <ion-button (click)="toggleEditing()">{{ editing ? 'Salvar' : 'Editar' }}</ion-button>
    </div>
  </div>
</ion-content>
