.avatar-icon {
    position: absolute; /* Ajuste a posição conforme necessário */
    top: 50%; /* Ajuste a posição conforme necessário */
    left: 50%; /* Ajuste a posição conforme necessário */
    transform: translate(-50%, -50%); /* Centralizar o ícone no meio do avatar */
    font-size: 1.5em; /* Ajuste o tamanho do ícone conforme necessário */
    color: #fff; /* Ajuste a cor do ícone conforme necessário */
  }
  