<!-- orcamentod.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <!-- Botão para mostrar opções de Bolos -->
  <ion-button class="opcoes-button" (click)="mostrarOpcoes('bolos')">
    Opções de Bolos
  </ion-button>

  <!-- Opções de compra para Bolos -->
  <ion-list class="opcoes-list" *ngIf="categoriaSelecionada === 'bolos'">
    <ion-button (click)="selecionarTodos(opcoesBolos)">
      Selecionar Todos
    </ion-button>
    <ion-item *ngFor="let opcao of opcoesBolos">
      <ion-label>{{ opcao.nome }} - Preço: {{ opcao.preco }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="opcao.selecionado"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botão para mostrar opções de Bebidas -->
  <ion-button class="opcoes-button" (click)="mostrarOpcoes('bebidas')">
    Opções de Bebidas
  </ion-button>

  <!-- Opções de compra para Bebidas -->
  <ion-list class="opcoes-list" *ngIf="categoriaSelecionada === 'bebidas'">
    <ion-button (click)="selecionarTodos(opcoesBebidas)">
      Selecionar Todos
    </ion-button>
    <ion-item *ngFor="let opcao of opcoesBebidas">
      <ion-label>{{ opcao.nome }} - Preço: {{ opcao.preco }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="opcao.selecionado"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botão para mostrar opções de Decoração -->
  <ion-button class="opcoes-button" (click)="mostrarOpcoes('decoracao')">
    Opções de Decoração
  </ion-button>

  <!-- Opções de compra para Decoração -->
  <ion-list class="opcoes-list" *ngIf="categoriaSelecionada === 'decoracao'">
    <ion-button (click)="selecionarTodos(opcoesDecoracao)">
      Selecionar Todos
    </ion-button>
    <ion-item *ngFor="let opcao of opcoesDecoracao">
      <ion-label>{{ opcao.nome }} - Preço: {{ opcao.preco }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="opcao.selecionado"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botão para mostrar opções de Comidas -->
  <ion-button class="opcoes-button" (click)="mostrarOpcoes('comidas')">
    Opções de Comidas
  </ion-button>

  <!-- Opções de compra para Comidas -->
  <ion-list class="opcoes-list" *ngIf="categoriaSelecionada === 'comidas'">
    <ion-button (click)="selecionarTodos(opcoesComidas)">
      Selecionar Todos
    </ion-button>
    <ion-item *ngFor="let opcao of opcoesComidas">
      <ion-label>{{ opcao.nome }} - Preço: {{ opcao.preco }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="opcao.selecionado"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
