<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="novoCliente()">Novo +</ion-button>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let c of clientes">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="confirmarExclusao(c.id)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </ion-item-option>
        <ion-item-option color="warning" (click)="atualizarCliente(c)">
          <ion-icon name="create"></ion-icon>
          Editar
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        {{ c.id }} - {{ c.nome }}
        <ion-button slot="end" color="warning" (click)="atualizarCliente(c)">Editar</ion-button>
        <ion-button slot="end" color="danger" (click)="confirmarExclusao(c.id)">Excluir</ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
