ion-content {
    position: relative;
  }
  
  .custom-icon {
    position: absolute;
    bottom: 16px; /* Ajuste conforme necessário para a distância do fundo */
    right: 16px; /* Ajuste conforme necessário para a distância da direita */
    font-size: 54px; /* Tamanho médio, ajuste conforme necessário */
  }
  