<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orçamento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-icon name="cash-outline"></ion-icon>
    <ion-label>Total</ion-label>
    <ion-input type="number" [(ngModel)]="gasto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <ion-label>Pago</ion-label>
    <ion-input type="number" [(ngModel)]="orcamento"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
</ion-content>
<ion-content class="ion-padding">
  <ion-icon name="add-circle-outline" class="custom-icon"></ion-icon>
</ion-content>
