ion-toolbar {
  --background: var(--ion-color-roxo);
  /* roxo */
  color:#ffffff;
  /* branco */
}

ion-content {
  position: relative;
}

.custom-icon {
  position: absolute;
  background: #9000ff; /* Altere a cor aqui */
  bottom: 16px;
  right: 16px;
  font-size: 64px;
  cursor: pointer;
  border-radius: 50%;
}



ion-menu {
  --ion-menu-max-edge-start: 100px;
  /* Ajuste conforme necessário */
}

ion-button {
  --background: var(--ion-color-roxo);
  --border-radius: 16em;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  font-size: 13px;
}

/* Estilo para a classe .escolher */
ion-button.orçamentod {
  --background: var(--ion-color-success-tint);
  float: right;
  margin-bottom: 20px;
}

.ion-text-center {
  display: flez;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;

}