<!-- /src/app/pagina/welcome/welcome.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Bem-vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img src="assets/img/projeto.jpg" alt="Boas-vindas" class="welcome"></ion-img>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <h3>{{ welcomeMessage.title }}</h3>
      <p>{{ welcomeMessage.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="skipWelcome()">Avançar</ion-button>
</ion-content>
