/* /src/app/pagina/welcome/welcome.page.scss */

.welcome {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

ion-content {
    font-size: 18px;
}

ion-card-content {
    font-size: 8px;
    font-weight: bold;
}

h3 {
    font-size: 3em;
    color: #ffffff;
}

p {
    font-size: 10px;
    color: #333;
}

.custom-title {
    color: #9000ff; // Cor específica para a palavra "Minha Festa"
}

.white-text {
    color: #ffffff;
    /* ou qualquer cor desejada para o texto branco */
}

.purple-text {
    color: #9000ff;
    /* ou qualquer cor desejada para o texto roxo */
}